<!--<button type="submit" class="btn btn-primary btn-block border-dark" (click)="cadastro()">cadastro</button>
<button type="submit" class="btn btn-primary btn-block border-dark" (click)="extracao()">extracao</button>-->


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->

<!--
<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cadastro">cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="extracao">extracao</a>
        </li>
        <li><a href="#">Cadastro</a>
          <ul>
            <li><a href="#">Usuário</a></li>
            <li><a href="#">Cliente</a></li>
          </ul>
        </li>
        <li><a href="#">Extrações</a>
          <ul>
            <li><a href="#">Totem</a></li>
            <li><a href="#">Minha BRK</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<!--
  Exemplo
<div class="menu-container">
  <ul class="menu clearfix">
    <li>
      <a>Cadastro</a>

      <ul class="sub-menu clearfix">
        <li>
          <a href="#">Sub</a>

          <ul class="sub-menu">
            <li>

              <a href="#">Sub Sub</a>

              <ul class="sub-menu">
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
              </ul>

            </li>
            <li><a href="#">Sub Sub</a></li>
            <li><a href="#">Sub Sub</a></li>
            <li><a href="#">Sub Sub</a></li>
            <li><a href="#">Sub Sub</a></li>
          </ul>

        </li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
      </ul>

    </li>
    <li><a href="#">Item</a></li>
    <li><a href="#">Item</a></li>
    <li><a href="#">Item</a></li>
    <li>

      <a href="#">Item</a>

      <ul class="sub-menu clearfix">
        <li>
          <a href="#">Sub</a>

          <ul class="sub-menu">
            <li>

              <a href="#">Sub Sub</a>

              <ul class="sub-menu">
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
              </ul>

            </li>
            <li><a href="#">Sub Sub</a></li>
            <li><a href="#">Sub Sub</a></li>
            <li>

              <a href="#">Sub Sub</a>

              <ul class="sub-menu">
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
                <li><a href="#">Sub Sub</a></li>
              </ul>

            </li>
            <li><a href="#">Sub Sub</a></li>
          </ul>

        </li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
        <li><a href="#">Sub</a></li>
      </ul>

    </li>
    <li><a href="#">Item</a></li>
  </ul>
</div>
-->

<div class="menu-container">
  <ul class="menu clearfix">
    <li><a href="home">Home</a></li>
    <li><a>Cadastro</a>
      <ul class="sub-menu clearfix">
        <li><a href="cadastro/usuario">Usuário</a></li>
        <li><a href="#">Cliente</a></li>
      </ul>

    </li>
    <li><a href="#">Extrações</a>
      <ul class="sub-menu clearfix">
        <li><a href="extracao/extracao-totem">Totem</a></li>
        <li><a href="extracao/extracao-minhabrk">Minha BRK</a></li>
      </ul>
    </li>
  </ul>
</div>
<button type="submit" class="btn btn-primary btn-block border-dark" (click)="cadastro()">cadastro</button>
<button type="submit" class="btn btn-primary btn-block border-dark" (click)="extracao()">extracao</button>
